## Calculate yearly stock price returns

In [15]:
import pandas as pd

In [16]:
stocks = pd.read_csv("./data/stock_data.csv",
                index_col="Unnamed: 0",
                parse_dates=True)

stocks.head()

            AAPL   MSFT    XOM     SPX
2003-01-02  7.40  21.11  29.22  909.03
2003-01-03  7.45  21.14  29.24  908.59
2003-01-06  7.45  21.52  29.96  929.01
2003-01-07  7.43  21.93  28.95  922.93
2003-01-08  7.28  21.31  28.83  909.93

In [17]:
stocks.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2214 entries, 2003-01-02 to 2011-10-14
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AAPL    2214 non-null   float64
 1   MSFT    2214 non-null   float64
 2   XOM     2214 non-null   float64
 3   SPX     2214 non-null   float64
dtypes: float64(4)
memory usage: 86.5 KB

In [18]:
stocks['year'] = stocks.index.year

In [19]:
stocks.dropna(axis=1, inplace=True)

In [20]:
stock = ['AAPL','MSFT','XOM','SPX']

In [31]:
data_change = round(100 *  stocks[stock].pct_change().dropna() ,2)

In [39]:
get_year = lambda x : x.year

round(data_change.groupby(get_year).sum() ,2)

        AAPL   MSFT    XOM    SPX
2003   43.58   6.94  18.86  21.56
2004  118.39  10.30  25.90   9.27
2005   87.95   0.09  13.86   3.53
2006   23.81  16.94  34.80  13.25
2007   91.94  21.55  24.59   4.68
2008  -66.96 -46.94  -0.91 -40.17
2009   96.16  54.31 -10.05  24.70
2010   46.22  -4.33  11.21  13.62
2011   29.54   1.80  10.94  -0.67